:root {
    --primary-color: #fff;
    --secondary-color: #000;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 62.5%;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board {
    position: absolute;
    z-index: -1;
    margin: 0;
    padding: 0;
}

.board-footer {
    position: absolute;
    z-index: -1;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: auto;
}

h1 {
    font-size: 3.5rem;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

main {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.welcome .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 90vh;
}

.welcome img {
    width: 60vh;
}

.welcome div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome p {
    font-size: 3.5rem;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

#wow,
#whv {
    display: none;
}

@keyframes btnForClick {
    0% {
        color: var(--primary-color);
    }
    50% {
        color: var(--secondary-color);
    }
}

.sites .container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 100vh;
}

.sites div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sites img {
    width: 30vw;
}

.sites a {
    font-size: 2.5rem;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    color: var(--primary-color);
    position: relative;
}

.sites a::after {
    position: absolute;
    content: '';
    width: 0;
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(215, 215, 215, 1) 100%
    );
    left: 0;
    top: 2rem;
    transition: ease-out 0.4s all;
}

.sites a:hover::after {
    content: '______________';
}

.sites iframe {
    width: 90%;
    height: 80vh;
    border: 1px solid var(--primary-color);
}

.cards {
    background: linear-gradient(
        90deg,
        rgba(255, 8, 8, 0.3) 0%,
        rgba(214, 4, 4, 0.3) 100%
    );
}

.e-corp {
    background-color: #272727;
}

.suburban {
    background-color: var(--primary-color);
}

.suburban iframe {
    border: 1px solid var(--secondary-color);
}

.suburban a {
    color: var(--secondary-color);
}

.suburban a::after {
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(42, 42, 42, 1) 100%
    );
}

.suburban a:hover::after {
    content: '____________';
}

.git-projects {
    background-color: var(--secondary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.git-projects .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.git-projects h2 {
    font-size: 2.5rem;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
}

.git-projects .rep-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 3rem;
    align-items: center;
    justify-items: center;
}

.rep-cel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 18rem;
    height: 7.8rem;
    background-image: url('../images/mold.png');
    background-size: contain;
    color: var(--primary-color);
    font-family: 'Permanent Marker', cursive;
    font-size: 1rem;
    margin-bottom: 3rem;
}

.rep-cel img {
    width: 4rem;
    height: 4rem;
    padding-right: 0.3rem;
}

.rep-cel:hover {
    background-image: url('../images/mold-selec.png');
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer a {
    text-align: center;
    padding: 0.5rem;
    margin: 1rem;
    font-size: 1.3rem;
    font-family: 'Permanent Marker', cursive;
    color: var(--secondary-color);
}

@media screen and (max-width: 975px) {
    .git-projects .rep-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 912px) {
    .welcome .container {
        grid-template-columns: 1fr;
    }
    .welcome img {
        width: 90%;
        padding-bottom: 3rem;
    }
    .welcome-text {
        grid-row-start: 1;
        grid-row-end: 3;
        margin-top: 3rem;
    }
    .sites .container {
        grid-template-columns: 1fr;
    }
    .sites iframe {
        width: 95%;
        margin-bottom: 3rem;
        margin-top: 1rem;
    }
    .short-pres {
        grid-row-start: 1;
        grid-row-end: 3;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
    .short-pres img {
        width: 90%;
    }
    .short-pres a {
        animation: btnForClick 5s linear 0.1s infinite;
    }
    .sites a {
        padding: 0;
        margin: 1rem;
    }
    .sites a:hover {
        background: rgba(255, 255, 255, 0.1)
            radial-gradient(circle, transparent 1%, rgba(255, 255, 255, 0.1) 1%)
            center/15000%;
        transition: linear 0.4s all;
    }
    .sites a:active {
        background-color: rgba(255, 255, 255, 0.1);
        background-size: 100%;
        transition: background 0s;
    }
    .sites a:hover::after {
        content: '';
    }
    .suburban a:hover {
        background: rgba(0, 0, 0, 0.1)
            radial-gradient(circle, transparent 1%, rgba(0, 0, 0, 0.1) 1%)
            center/15000%;
        transition: linear 0.4s all;
    }
    .suburban a:active {
        background-color: rgba(0, 0, 0, 0.1);
        background-size: 100%;
        transition: background 0s;
    }
    .suburban a:hover::after {
        content: '';
    }
    .rep-cel:hover {
        background: rgba(255, 255, 255, 0.1)
            radial-gradient(circle, transparent 1%, rgba(255, 255, 255, 0.1) 1%)
            center/15000%;
        transition: linear 0.4s all;
    }
    .rep-cel:active {
        background-color: rgba(255, 255, 255, 0.1);
        background-size: 100%;
        transition: background 0s;
    }
}

@media screen and (max-width: 665px) {
    .git-projects .rep-grid {
        grid-template-columns: 1fr;
    }
    .rep-cel {
        width: 16.5rem;
        height: 7.2rem;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 360px) {
    h1 {
        font-size: 2.5rem;
    }
}
