@media (prefers-color-scheme: light) {
    :root {
        --background: #66A36B;
        --color: #2E4D30;
        --primary-color: #2E4D30;
        --secondary-color: #365939;
        --tertiary-color: #3D6641;
        --base-color: #66A36B;
        --surface-color: #5C9961;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --background: #2E4D30;
        --color: #66A36B;
        --primary-color: #66A36B;
        --secondary-color: #5C9961;
        --tertiary-color: #548C59;
        --base-color: #2E4D30;
        --surface-color: #365939;
    }
}
html {
    scroll-behavior: smooth;
    background-color: var(--background);
    color: var(--color);
}
body {
    font-size: 62.5%;
    font-family: Helvetica, Arial, sans-serif;
}
main {
    max-width: 120rem;
    margin: 0 auto;
}
main h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 3rem;
}
main h2 {
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1.2rem;
    color: var(--secondary-color);
}
#indexSection {
    visibility: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
    transition: visibility 2s linear 0.1s;
    margin-top: 2rem;
    background-color: var(--surface-color);
}

#indexSection img {
    width: 100%;
    margin: auto;
    align-self: center;
    padding: 0.5rem;
}

@media (max-width: 700px) {
    #indexSection {
        grid-template-columns: 1fr 1fr;
    }
    #index3 {
        grid-column-start: 1;
        grid-column-end: 3;
        margin: auto 25vw;
    }
}
@media (max-width: 430px) {
    #indexSection {
        grid-template-columns: 1fr;
    }
    #index3 {
        grid-column-start: 1;
        grid-column-end: 2;
        margin: auto;
    }
}